#numpy
#opencv-python
#protobuf
#easydict
#torch
#pillow
#matplotlib
#wxpython
#shapely
#tqdm
#open3d
easydict==1.9
imageio==2.13.3
imageio-ffmpeg==0.4.5
Pillow==8.4.0
matplotlib==3.5.0
numpy==1.21.4
open3d==0.14.1
opencv-python==4.5.4.60
protobuf==3.19.1
Shapely==1.8.0
torch==1.10.0
tqdm==4.62.3
wxPython==4.1.1
